img {
    max-width: 100%;
}

.navbar{
    font-family: 'Abel', sans-serif;
}

.nav-item{
    color: #E6E6E6;
}

.page-wrapper{
    background-color: #F0F0F0;
    max-height: 100%;
}
header {
    font-family: 'Anton', sans-serif;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px; /* adjust the size of the circle */
    height: 90px; /* adjust the size of the circle */
    border-radius: 50%;
    color: #fff; /* replace with your desired text color */
}
.circle.red {
    background-color: #E6563B;
    border: 7px solid white;
}
.circle.orange{
    background-color: #EB9D3A;
    border: 7px solid white;
}
.circle.green {
    background-color: #7CB06C;
    border: 7px solid white;
}
.circle.Teal {
    background-color: #00ABA9;
    border: 7px solid white;

}
.text {
    text-align: center;
}


.icon-row{
    max-width: 100%;
}

.icon-column{
    display: flex;
    flex-wrap: wrap;
    /*max-width: 320px;*/
}
h3{
    font-family: 'Abel', sans-serif;
}
h4 {
    font-family: 'Anton', sans-serif;
}

.last-tweet{
    padding-left: 25px;
}

.img-wrapper img {
    width: 100%;
    aspect-ratio: 296/200;
    object-fit: cover;
}

/*.little-circle-1{*/
/*    background-color: #E6563B;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 18px; !* adjust the size of the circle *!*/
/*    height: 18px; !* adjust the size of the circle *!*/
/*    */
/*}*/